.gradle/*
build/*
/src/imcScripts*
/src/asm*
/src/logs*
/src/usernamecache*
/src/resourcepacks*
/src/server-resource-packs*
/src/BotaniaVars*
/src/minecraftinstance*
/src/minetweaker.log*
/src/saves*
src/config/Anti\ Id\ Conflict/*
