# Configuration file

clipboard {
    I:0 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        8
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        69
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        104
        96
        110
        96
        -4
        15
        5
        -4
        12
        16
        -56
        -16
        1
        2
        -1
        -93
        1
        90
        -55
        3
        0
        29
        -63
        98
        59
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        4
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        68
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        -4
        15
        5
        12
        31
        32
        -112
        -97
        1
        2
        -1
        -93
        1
        90
        -55
        3
        0
        57
        49
        97
        -72
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        83
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        -7
        15
        5
        12
        -4
        80
        -8
        1
        2
        -1
        -93
        1
        90
        -55
        67
        -71
        12
        -24
        -32
        3
        26
        -92
        -75
        60
        -70
        58
        122
        -53
        15
        -108
        -67
        0
        103
        47
        -39
        -69
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        20
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        84
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        -7
        15
        5
        12
        31
        32
        -112
        -97
        1
        2
        -1
        -93
        1
        90
        -55
        51
        -64
        4
        96
        -128
        31
        7
        -92
        -75
        -4
        64
        -69
        3
        29
        -48
        73
        30
        0
        -12
        28
        105
        59
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:4 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        36
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        88
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        -7
        15
        5
        12
        31
        32
        -112
        -97
        1
        2
        -1
        -93
        1
        90
        -55
        127
        96
        64
        -123
        48
        -16
        1
        7
        -92
        -107
        -4
        64
        -39
        -117
        46
        79
        -56
        125
        -44
        -106
        7
        0
        -39
        -128
        -39
        -69
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:5 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        4
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        80
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        -4
        15
        5
        12
        31
        32
        -112
        -97
        1
        2
        -1
        127
        0
        10
        126
        0
        -109
        -40
        -27
        63
        -126
        101
        63
        -32
        -47
        79
        -108
        60
        0
        14
        -93
        96
        -40
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:6 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        16
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        74
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        97
        -32
        -121
        66
        116
        -64
        -113
        6
        -23
        37
        -49
        -113
        3
        -46
        90
        126
        -96
        -35
        49
        64
        -31
        15
        0
        103
        20
        27
        107
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:7 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        32
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        73
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        -7
        -64
        0
        -127
        -24
        -32
        3
        26
        -92
        -75
        60
        -70
        58
        122
        -53
        15
        22
        119
        -47
        59
        -4
        1
        -91
        87
        -88
        11
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:8 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        64
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        -4
        15
        5
        31
        -8
        81
        -31
        127
        52
        64
        43
        121
        0
        26
        61
        113
        -88
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


